[mysqld]
character-set-server=utf8mb4
innodb_flush_log_at_trx_commit=2 # コンテナ環境では速度重視で書き込みがディスクにフラッシュしたのかは重視しない。
innodb_flush_method=O_DIRECT_NO_FSYNC # コンテナ環境では速度重視で書き込みがディスクにフラッシュしたのかは重視しない。
innodb_doublewrite=0 # コンテナ環境では速度重視で書き込みがディスクにフラッシュしたのかは重視しない。
innodb_flush_neighbors=0
innodb_io_capacity=200
innodb_io_capacity_max=2000
log_queries_not_using_indexes
slow_query_log
long_query_time=1
log_queries_not_using_indexes=ON
innodb_random_read_ahead=false
innodb_read_ahead_threshold=0
[mysql]
default-character-set=utf8mb4
[client]
default-character-set=utf8mb4
